$icomoon-font-family: "octopus" !default;
$icomoon-font-path: "fonts" !default;

$oc-piechart: "\e78e";
$oc-setting: "\e78f";
$oc-deleteuser: "\e7ae";
$oc-user: "\e7af";
$oc-team: "\e7b0";
$oc-barchart: "\e7b1";
$oc-shop: "\e7ce";
$oc-calendar-check: "\e7d3";
$oc-calendar: "\e7d4";
$oc-camera: "\e7d7";
$oc-video: "\e7da";
$oc-image: "\e7de";
$oc-mail: "\e7df";
$oc-right: "\e7eb";
$oc-left: "\e7ec";
$oc-up: "\e7ed";
$oc-down: "\e7ee";
$oc-indent: "\e7f3";
$oc-outdent: "\e7f4";
$oc-menu: "\e7f5";
$oc-caret-down: "\e8ec";
$oc-caret-up: "\e8ed";
$oc-caret-right: "\e8ee";
$oc-caret-left: "\e8ef";

