$icomoon-font-family: "octopus-ui" !default;
$icomoon-font-path: "fonts" !default;

$oc-icon-addteam: "\e900";
$oc-icon-bar-chart: "\e901";
$oc-icon-logout: "\e902";
$oc-icon-read: "\e903";
$oc-icon-piechart: "\e78e";
$oc-icon-setting: "\e78f";
$oc-icon-deleteuser: "\e7ae";
$oc-icon-user: "\e7af";
$oc-icon-team: "\e7b0";
$oc-icon-barchart: "\e7b1";
$oc-icon-shop: "\e7ce";
$oc-icon-calendar-check: "\e7d3";
$oc-icon-calendar: "\e7d4";
$oc-icon-camera: "\e7d7";
$oc-icon-video: "\e7da";
$oc-icon-image: "\e7de";
$oc-icon-mail: "\e7df";
$oc-icon-right: "\e7eb";
$oc-icon-left: "\e7ec";
$oc-icon-up: "\e7ed";
$oc-icon-down: "\e7ee";
$oc-icon-indent: "\e7f3";
$oc-icon-outdent: "\e7f4";
$oc-icon-menu: "\e7f5";
$oc-icon-caret-down: "\e8ec";
$oc-icon-caret-up: "\e8ed";
$oc-icon-caret-right: "\e8ee";
$oc-icon-caret-left: "\e8ef";

